.email1{
	font-family: sans-serif;
	font-weight: 400px;
	font-size: 16px;
}
.password1{
	font-family: sans-serif;
	font-weight: 400px;
	font-size: 16px;
}
btn btn primary{
	padding-bottom: 2px;
}